@model Library.Web.Models.Patron.PatronIndexModel
@{ 
    ViewBag.Title="Patron Index";
}

<h3>@ViewBag.Title</h3>
<div id="patronIndex">
    <table  class="table" id="patronIndexTable">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Profile Link</th>
                <th scope="col">Last Name</th>
                <th scope="col">First Name</th>
                <th scope="col">Library Card</th>
                <th scope="col">Overdue Fees</th>
                <th scope="col">Home Library</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var patron in Model.Patrons)
            {
                <tr>
                    <td><a asp-controller="Patron" asp-action="Detail" asp-route-id="@patron.Id">(Profile)</a></td>
                    <td>@patron.LastName</td>
                    <td>@patron.FirstName</td>
                    <td>@patron.LibraryCardId</td>
                    <td>@patron.OverdueFees</td>
                    <td>@patron.HomeLibraryBranch</td>
                </tr>
            }
        </tbody>
    </table>
</div>